#domains {
  padding-top: 30px;

  a.button {
    text-decoration: none;
  }

  .domain-name {
    color: #333;
    font-weight: bold;
  }

  .domain-url {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 2px;
  }

  .domain-url a {
    color: #009907;
    font-size: 12px;
    text-decoration: none;
  }

  .domain-property {
    float: right;
    margin-top: -28px;

    & a:hover {
      text-decoration: underline;
    }
  }

  .domain-username-label {
    color: #777;
    font-size: 13px;
  }

  .domain-username {
    color: #999;
    font-size: 13px;
    margin-right: 40px;
  }

  .delete {
    display: inline-block;
    opacity: 0.5;
    margin: 1px 10px 0px 10px;
  }

  .delete:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .section {
    background-color: #eee;
    background-image: none;
    margin: 70px 0 30px;
    padding: 10px 35px 30px;
    border-radius: 2px;
    width: 82%;
  }

  .coachmark-icon {
    background-image: url('coachmark.png');
    width: 30px;
    height: 35px;
    display: inline-block;
    position: absolute;
    margin-left: -30px;
    margin-top: 35px;
    visibility: hidden;
  }

  .coachmark-help {
    font-size: 13px;
    color: #666;
    padding-top: 20px;
    display: block;
  }  
}

