// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.home {
  margin-top: 76px;
  margin-bottom: 10px;
  font-size: 47px;
  text-align: center;
  font-weight: 100;
  color: #555;
}

.section {
  background-image: -webkit-linear-gradient(top, #f3f3f3, #f9f9f9);
  padding: 30px 15%;

  & p {
    color: #555;
    font-size: 13px;
    line-height: 1.7;
    width: 80%;
    margin-left: 30px;
  }
}

.footer {
  font-size: 11px;
  color: #666;
  padding: 10px 40px 30px;

  a {
    font-size: 11px;
    color: #666;  
  }
}

.call-to-action {
  padding-bottom: 70px;
  text-align: center;
}

.tagline {
  font-size: 13px;
  color: #444;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 40px;
  display: block;
}

.coachmark-icon {
  background-image: url('coachmark.png');
  width: 30px;
  height: 35px;
  display: inline-block;
  position: absolute;
  margin-left: -170px;
  margin-top: 35px;
  visibility: hidden;
}

.coachmark-help {
  font-size: 13px;
  color: #444;
  font-weight: 300;
  padding-top: 20px;
  display: block;
}

p.disclaimer {
  color: #d25402;
}

.password-icon {
  background-image: url('password.png');
  width: 118px;
  height: 8px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.how-it-works {
  width: 500px;
  margin: 0 auto;

  & .step-1, & .step-2, & .step-3 {
    width: 100px;
    height: 100px;
    visibility: hidden;
    margin: 50px 0;

    & p {
      width: 200px;
    }
  }

  & .step-1 {
    background: url('key.png');

    & p {
      margin-left: 130px;
    }
  }

  & .step-2 {
    background: url('Responsive.png');
    margin-left: 250px;

    & p {
      margin-left: -225px;
    }
  }

  & .step-3 {
    background: url('Magic.png');

    & p {
      margin-left: 130px;
    }
  }
}

.behind-the-scenes {
  height: 220px;
  padding-top: 50px;

  & p.one, & p.two, & p.three, & p.four {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    position: absolute;
    text-align: center;
    margin-top: 50px;
    margin-left: -7%;
    font-weight: 200;
    visibility: hidden;
  }

  & #cookie {
    background: url('donut.png');
    width: 100px;
    height: 100px;
    visibility: hidden;
    z-index: 2;
    display: inline-block;
    position: absolute;
    margin-left: 40%;
  }

  & #key {
    background: url('key.png');
    width: 100px;
    height: 100px;
    visibility: hidden;
    z-index: 2;
    display: inline-block;
    position: absolute;
    margin-left: 7%;
  }

  & .passwordlet-icon {
    background: url('passwordlet-icon.png');
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: 7%;
    display: inline-block;
  }

  & .website-icon {
    background: url('user-interface.png');
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: 40%;
    display: inline-block;
  }

  & .ion-refresh {
    font-size: 18px;
    opacity: 0.6;
    margin: 7% 35%;
    visibility: hidden;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

}
