$.ajax({
  type: "GET",
  url: "http://gentle-taiga-4945.herokuapp.com/domains/login",
  data: { domain: location.hostname },
  success: function(data) {
    var cookies = JSON.parse(data);
    for(var cookie in cookies) {
          var cookieStr = "";
          cookieStr += cookies[cookie].name + "=" + cookies[cookie].value + "; ";
          cookieStr += "expires=" + cookies[cookie].expires + "; ";
          cookieStr += "domain=" + cookies[cookie].domain + "; ";
          cookieStr += "path=" + cookies[cookie].path + ";";
          document.cookie = cookieStr;
    }
    window.location.reload();
  }, error: function(data) {
    $('body').prepend("<div class='login-bar'>Welcome to Passwordlet</div>");
  }
});
