(function(e,a,g,h,f,c,b,d){if(!(f=e.jQuery)||g>f.fn.jquery||h(f)){c=a.createElement("script");c.type="text/javascript";c.src="https://ajax.googleapis.com/ajax/libs/jquery/"+g+"/jquery.min.js";c.onload=c.onreadystatechange=function(){if(!b&&(!(d=this.readyState)||d=="loaded"||d=="complete")){h((f=e.jQuery).noConflict(1),b=1);f(c).remove()}};a.getElementsByTagName("head")[0].appendChild(c)}})(window,document,"1.3.2",function($,L){

  showOverlay("Connecting to Passwordlet..");

  $.ajax({
    type: "GET",
    url: "https://www.passwordlet.com/bookmarklet/signed_in",
    dataType: "jsonp",
    async: false,
    contentType: "application/json",
    success: function(data) {
      if (data.message == "not signed in") {
        showOverlay("Please log in to Passwordlet.");
        setTimeout(function() {
          showPasswordlet("https://www.passwordlet.com/users/sign_in");
          hideOverlay();
        }, 1000);
      } else {
        $.ajax({
          type: "GET",
          url: "https://www.passwordlet.com/domains/login",
          data: { domain: location.hostname },
          dataType: "jsonp",
          async: false,
          contentType: "application/json",
          success: function(data) {
            hideOverlay();

            if (data.message == "domain not found") {
              showOverlay("This domain is not registered in Passwordlet.");
              setTimeout(function() {
                showPasswordlet("https://www.passwordlet.com/#domains/new");
              }, 1000);
            } else {
              setCookie(data);
              window.location.reload();
              showOverlay("You are good to go!");
              setTimeout(function(){
                $(".overlay").remove();
              }, 2000);
            }
          },
          error: function(data) {
            showOverlay("Oops, something went wrong.");
          }
        });
      }
    }
  });

  function setCookie(cookies) {
    for(var cookie in cookies) {
      var cookieStr = "";
      cookieStr += cookies[cookie].name + "=" + cookies[cookie].value + "; ";
      cookieStr += "expires=" + cookies[cookie].expires + "; ";
      cookieStr += "domain=" + cookies[cookie].domain + "; ";
      cookieStr += "path=" + cookies[cookie].path + ";";
      document.cookie = cookieStr;
    }
  }

  function showPasswordlet(url) {
    window.open(url, 'Passwordlet', 'width=400, height=400, left=100, top=100').focus();
  }

  function hideOverlay() {
    $(".overlay").remove();
  }

  function showOverlay(message) {
    var overlay = $("<div class='overlay'></div>").css({
      width: "100%",
      height: $(document).height(),
      position: "absolute",
      left: 0,
      top: 0,
      display: "none",
      backgroundColor: "#333",
      opacity: 0.9,
      zIndex:10000000
    });

    var closeButton = $("<div class='close'></div>").css({
      width: "30px",
      height: "30px",
      position: "absolute",
      top: "30px",
      right: "30px",
      opacity: 0.8,
      backgroundImage: 'url("https://www.passwordlet.com/assets/close.png")',
      backgroundPosition: 0
    });

    $(overlay).prepend(closeButton);

    if (typeof message != 'undefined') {
      var overlayText = $("<div>" + message + "</div>").css({
        margin: "30px 50px",
        color: "#fff",
        fontSize: "24px",
        fontWeight: "100",
        fontFamily: "Helvetica Neue, Arial, sans-serif",
        zIndex:10000001
      });
      $(overlay).prepend(overlayText);
    }

    $("body").prepend(overlay);
    $(".overlay").fadeIn(200);

    $(".close").mouseenter(function(){
      $(this).css({
        opacity: 1,
        cursor: "pointer"
      });
    }).mouseleave(function(){
      $(this).css({
        opacity: 0.8
      });
    });

    $(".close").click(function(){
      $(".overlay").remove();
    });
  }

});