<h1 class="home">Passwordlet</h1>
<div class="password-icon"></div>

<div class="call-to-action">
  <span class="tagline">Transfer your passwords from your memory to Passwordlet.</span>
  <div id="coachmark" class="coachmark-icon"></div>
  <a id="hello-passwordlet" class="button" href="javascript:(function(){ _passwordlet_script=document.createElement('script'); _passwordlet_script.type='text/javascript'; _passwordlet_script.src='https://gentle-taiga-4945.herokuapp.com/bookmarklet'; document.getElementsByTagName('head')[0].appendChild(_passwordlet_script);})();">Hello, Passwordlet!</a>
  <a class="button" href="/users/sign_up">Sign up</a>
  
  <span class="coachmark-help">Just drag this bookmarklet to your bookmarks bar.</span>
</div>
<div class="section">
  <h3>How it works</h3>
  <p>Passwordlet is a JavaScript bookmarklet that logs you in with a single click. Your passwords are <a href="http://www.ruby-doc.org/stdlib-1.9.3/libdoc/openssl/rdoc/OpenSSL/Cipher.html">securely encrypted</a> with 256-bit <a href="http://en.wikipedia.org/wiki/Advanced_Encryption_Standard">AES</a> and they are only used to obtain cookies behind the scenes.</p>
  <br />
  <div class="how-it-works">
    <div class="step-1"><p><b>Step 1.</b> Register your domain's login address and credentials to Passwordlet</p></div>
    <div class="step-2"><p><b>Step 2.</b> Go to the domain and click Passwordlet from your desktop or mobile browser</p></div>
    <div class="step-3"><p><b>Step 3.</b> Now you're logged in!</p></div>
  </div>
</div>

<div class="section">
  <h3>Behind the scenes</h3>
  <p>When you click the JavaScript bookmarklet, Passwordlet logs in to the domain using a library called <a href="http://mechanize.rubyforge.org/">Mechanize</a>. It then grabs the cookies and sets them to your browser. Once the cookie is set, you're safely logged in without manually having entered your credentials. Read my <a href="http://app-academy-kyungmin.tumblr.com/post/67017238150/week-9-day-1-making-of-passwordlet">blog post</a> to learn more about technical challanges that I encountered during the implementation.</p>
  
  <div class="behind-the-scenes">
    <div id="key"></div>
    <div id="cookie"></div>
    <div class="passwordlet-icon"></div>
    <div class="website-icon"></div>
    <div id="replay" class="ion-refresh">Replay</div>
    <p class="one">Passwordlet logs in to the domain using your credentials.</p>
    <p class="two">The domain sends cookies to Passwordlet.</p>
    <p class="three">Passwordlet sets the cookies to the browser.</p>
    <p class="four">Tada! You're now logged in.</p>
  </div>

  <p class="disclaimer"><b>Disclaimer:</b> Some sites may block you from logging in from different regions at the same time. Since Heroku runs apps from multiple regions, you might encounter login failures with some popular sites.</p>
</div>

<div class="section">
  <h3>Credits</h3>
  <p>Thanks to <a href="http://appacademy.io">App Academy</a> and a good <a href="http://www.twitter.com/ecin" target="_blank">friend</a> who helped me along the way.</p>
</div>

<script type="text/javascript">
  animate(".coachmark-icon", "tada");

  $(window).scroll(function() {
    if (inView(".how-it-works")) {
      if ($(".step-1").css("visibility") == "hidden") {
        animate(".step-1", "bounceIn");

        setTimeout(function() {
          animate(".step-2", "bounceIn");

          setTimeout(function() {
            animate(".step-3", "bounceIn");
          }, 200);
        }, 200);
      }
    }

    if (inView(".behind-the-scenes")) {
      if (play) {
        playBTS();
      }
    }
  });

  $("#replay").click(function(){
    resetAnimation();
    playBTS();
  });
</script>