<div class="domains">
  <a href="/#domains/new">New domain</a>
  <ul>
  <% domains.forEach(function (domain) { %>
    <li>
      <%= domain.escape("name") %><br>
      <%= domain.escape("url") %><br>
      <%= domain.escape("username") %><br>
      <div class="delete icon-close" data-id="<%= domain.id %>"></div>
    </li>
  <% }); %>
  </ul>
</div>